<h1>Ask questions about {{game.name}}</h1>
Documents referenced in this chat:
<ul>
    {% for document in game.document_set.all %}
        <li>{{ document.display_name }} - <a href="{{ document.url }}" target="_new">Download</a></li>
    {% endfor %}
</ul>

{% if question %}
<h2>Question:</h2>
<div>
    {{question}}
</div>
{% endif %}

{% if answer %}
<h2>Answer:</h2>
<div>
    {{answer}}
</div>
{% endif %}


<h2>Ask a question</h2>
<form action="{% url 'chats:chat' game.id %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Ask">
</form>
