{% extends "master.html" %}

{% block title %}
  Chat about {{chat_session.game.name}} rules
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<section>
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card blur shadow-blur" style="height:85vh !important">
                    <div class="card-header shadow-lg">
                        <div class="row">
                            <img src="{{chat_session.game.card_image.url}}" class="float-start rounded-3 chat-image">
                            <div class="float-start col">
                                <h6 class="text-gradient text-primary mb-0"">Let's talk about</h6>
                                <h4 class="mt-0">{{chat_session.game.name}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body overflow-auto overflow-x-hidden" id="chat-window">
                        <div class="row justify-content-start">
                            <div class="col-auto">
                                <div class="card bg-gray-200 text-dark">
                                    <div class="card-body py-2 px-3">
                                        <p class="mb-1 ">
                                            👋 I've read the following documents related to {{chat_session.game.name}} and will base all of my answers on those:
                                            <ul>
                                                {% for document in chat_session.game.document_set.all %}
                                                    <li>{{ document.display_name }} - <a href="{{ document.display_url }}" target="_new">Download</a></li>
                                                {% endfor %}
                                            </ul>
                                            What would you like to know about {{chat_session.game.name}}?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- first AI message -->
                        {% for message in chat_session.message_set.all %}
                            {% if message.message_type != 'system' %}
                            <div class="row {%if message.message_type == 'ai' %}justify-content-start{%else%}justify-content-end{%endif%} mt-4">
                                <div class="col-auto">
                                    <div class="card {%if message.message_type == 'ai' %}bg-gray-200{%else%}bg-gray-100{%endif%} text-dark">
                                        <div class="card-body py-2 px-3">
                                            <p class="mb-1 ">
                                                {{ message.message |linebreaks }}
                                            </p>
                                            <div class="row">
                                                <div class="col-12 d-flex align-items-left text-sm opacity-6">
                                                    {% if message.sourcedocument_set.count %}
                                                        <span>Source(s):</span>&nbsp;
                                                        {% for source in message.sourcedocument_set.all %}
                                                            <a href="{{ source.document.display_url }}" target="_new">{{ source.document.display_name }} - Page {{ source.page_number }}</a>
                                                            {% if not forloop.last %},&nbsp;{% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-footer d-block">
                        <form id="chat-form" action="{% url 'chat:view_chat_session' chat_session.session_slug %}" class="align-items-center" method="post">
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-md-10">
                                    <div class="input-group mt-2">
                                        <input type="text" name="question" class="form-control" placeholder="Ask your question here" maxlength="1000" required="" id="id_question" onfocus="focused(this)" onfocusout="defocused(this)">
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <button class="btn bg-gradient-primary mt-2" id="chat-form-button">
                                        <i class="fa fa-send"></i> Ask RulesBot.ai
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="visibility: hidden; height: 0;" id="prototypes">
    <div class="row justify-content-end mt-4" style="visibility: hidden;" id="chat-message-prototype">
        <div class="col-auto">
            <div class="card bg-gray-100 text-dark">
                <div class="card-body py-2 px-3">
                    <p class="mb-1" id="chat-message">
                        Loading ..
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mt-4" style="visibility: hidden;" id="chat-message-loader">
        <div class="col-auto">
            <div class="card bg-gray-200 text-dark">
                <div class="card-body py-2 px-3">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // onload scroll to bottom
    window.onload = function() {
        var objDiv = document.getElementsByClassName("overflow-auto")[0];
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // when submitting the form, add a new message to the chat session and submit the form
    document.getElementById("chat-form").onsubmit = function() {
        var question = document.getElementById("id_question").value;
        // Clone chat-message-prototype and set the question
        // Append to chat-window
        var newMessage = document.getElementById("chat-message-prototype").cloneNode(true);
        newMessage.style.visibility = "visible";
        newMessage.id = "";
        newMessage.getElementsByClassName("mb-1")[0].innerHTML = question;

        var chatWindow = document.getElementById("chat-window");
        chatWindow.appendChild(newMessage);

        // Clone chat-message-loader and append to chat-window
        var loaderMessage = document.getElementById("chat-message-loader");
        loaderMessage.style.visibility = "visible";
        chatWindow.appendChild(loaderMessage);

        // Scroll to bottom
        var objDiv = document.getElementsByClassName("overflow-auto")[0];
        objDiv.scrollTop = objDiv.scrollHeight;

        // Disable the button
        document.getElementById("chat-form-button").disabled = true;
        return true;
    };

</script>
{% endblock %}
