<h1>Ask questions about {{chat_session.game.name}}</h1>
Documents referenced in this chat:
<ul>
    {% for document in chat_session.game.document_set.all %}
        <li>{{ document.display_name }} - <a href="{{ document.display_url }}" target="_new">Download</a></li>
    {% endfor %}
</ul>

<h2>Chat</h2>
{% for message in chat_session.message_set.all %}
    {% if message.message_type != 'system' %}
        <p>{{ message.message_type}}</p>
        <p>{{ message.message |linebreaks }}</p>
        {% if message.sourcedocument_set.count %}
            <p>Source:
                {% for source in message.sourcedocument_set.all %}
                    <a href="{{ source.document.display_url }}" target="_new">{{ source.document.display_name }} - Page {{ source.page_number }}</a>,
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}
{% endfor %}


<form action="{% url 'chat:view_chat_session' chat_session.session_slug %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Ask">
</form>
