{% extends "master.html" %}

{% block title %}Rulesbot.ai | Easy boardgame rules{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>We support all your favorite games!</h3></div>
        </div>
        <div class="row justify-space-between py-2">
            {% for game in games %}
                {% include "games/_card.html" %}
            {% endfor %}
        </div>
    </div>
  </section>
{% endblock %}
