<div class="col-md-4 mx-auto">
    <div class="card card-plain card-blog mt-4">
        <div class="card-image border-radius-lg position-relative">
            <a href="{% url 'chat:create_chat_session' game.id %}">
            <div class="blur-shadow-image">
                <img class="img card-img-top border-radius-lg move-on-hover" src="{{game.card_image.url}}">
            </div>
        </a>
        </div>
        <div class="card-body px-0">
            <h4 class="position-relative">
                <a href="{% url 'chat:create_chat_session' game.id %}" class="text-dark font-weight-bold">{{ game.name }}</a>
                <a href="{% url 'games:detail' game.slug %}" class="text-secondary text-sm position-absolute ms-1"><i class="fas fa-info-circle" aria-hidden="true"></i></a>
            </h4>
            <a href="{% url 'chat:create_chat_session' game.id %}" class="btn btn-sm bg-gradient-primary">
                Chat with RulesBot<i class="fas fa-chess-rook text-sm ms-2" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
