{% extends "master.html" %}

{% block title %}Rulesbot.ai | Account{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-lg mb-5">
                    <div class="card-header bg-gradient-primary p-5 position-relative">
                        <h3 class="text-white">Welcome <span class="fst-italic">{{ user.username }} ({{user.email}})</span></h3>
                        <div class="position-absolute w-100 z-index-1 bottom-0 ms-n5">
                            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto" style="height:7vh;min-height:50px;">
                                <defs>
                                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                                </defs>
                                <g class="moving-waves">
                                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
                                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"></use>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Account Stats</h3>
                        <div class="row">
                            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                                <div class="card">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Chat Sessions</p>
                                                    <h5 class="font-weight-bolder mb-0">
                                                        {{ chat_session_count }}
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md">
                                                    <i class="fa fa-comments text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                                <div class="card">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Chat Messages</p>
                                                    <h5 class="font-weight-bolder mb-0">
                                                        {{ messages_count }}
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md">
                                                    <i class="fa fa-comment text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'chat:sessions' %}" class="btn bg-gradient-info mt-3">View Chat Sessions</a>
                        <hr />
                        <h3>Manage Account</h3>
                        <div class="mt-4">
                            <a href="{% url 'users:change-password' %}" class="btn bg-gradient-info">Change Password</a>
                            <br>
                            <a href="{% url 'users:logout' %}" class="btn bg-gradient-danger">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
