{% extends "master.html" %}

{% block title %}Rulesbot.ai | Login{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Login</h3>
            </div>
        </div>
        <div class="row justify-space-between py-2">
            <div class="col-12">
                <form action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Log in" class="btn">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
