{% extends "master.html" %}

{% load static %}

{% block title %}
Rulesbot.ai | About
{% endblock %}

{% block content %}
<div class="container py-4">
    <h2><span class="text-gradient text-primary">About Us</span></h2>
    <h1>Elevating Board Game Nights Through AI-Powered Simplicity</h1>
    <p>Welcome to RulesBot.ai, where our passion for board games drives us to revolutionize your gaming experiences. Created by a devoted board game enthusiast, RulesBot.ai is here to ensure that your game nights are characterized by excitement, strategy, and seamless rulebook interactions.</p>

    <h2>Creator's Vision:</h2>
    <p>Born from a deep love for board games, RulesBot.ai is the brainchild of a passionate gamer who understood the frustration of rulebook interruptions. With a commitment to enhancing the joy of gaming, our creator harnessed the potential of AI technology to craft a solution that makes rule interpretation a breeze.</p>

    <h2>Simplicity in Rule Mastery:</h2>
    <p>We believe that accessing game rules should be as effortless as the gameplay itself. RulesBot.ai merges our creator's enthusiasm with advanced AI capabilities to deliver quick answers and precise explanations for any rule query. Our mission is to empower players of all levels to embrace games confidently and without confusion.</p>


    <h2>Elevate Your Game:</h2>
    <p>Just as board games bring people together, RulesBot.ai unites the joy of gaming with the power of AI. Let us be your companion in navigating rulebooks, so you can focus on the memorable moments, clever strategies, and shared laughter that make every game night unforgettable.</p>

    <h3 class="text-gradient text-primary text-center py-6">RulesBot.ai: Where Rules are Transformed for Effortless Play.</h3>
</div>
{% endblock %}
